absl-py==2.3.1
addict==2.4.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
altair==5.5.0
annotated-doc==0.0.5
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
asttokens==3.0.2
attrs==26.1.0
black==25.11.0
bleach==6.2.0
blinker==1.9.0
blis==0.7.11
braceexpand==0.1.7
cachetools==6.2.6
catalogue==2.0.10
certifi==2026.7.22
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.9
click==8.1.8
cloudpathlib==0.24.0
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.3
confection==0.1.5
ConfigArgParse==1.7.5
contexttimer==0.3.3
contourpy==1.3.0
crcmod==1.7
cryptography==49.0.0
cycler==0.12.1
cymem==2.0.13
dash==4.4.1
decorator==5.3.1
decord==0.6.0
depth_camera_filtering @ file:///root/autodl-tmp/vlfm/depth_camera_filtering
descartes==1.1.0
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@b4a4a3bd136852dae5fb1de37978dee412653e31
distlib==0.4.3
einops==0.8.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl#sha256=84d7d8059bfbf53c09b39139782f76cd6ac7064851e7799dcc685c06ebf5fd4f
exceptiongroup==1.3.1
executing==2.2.1
fairscale==0.4.4
faster-fifo==1.5.2
fastjsonschema==2.21.2
filelock==3.14.0
fire==0.7.1
flake8==7.3.0
Flask==3.1.3
fonttools==4.60.2
# Editable install with no version control (frontier_exploration==0.1)
-e /root/autodl-tmp/vlfm/frontier_exploration
fsspec==2025.10.0
ftfy==6.3.1
fvcore==0.1.5.post20221221
gitdb==4.0.12
GitPython==3.1.57
google-auth==2.50.0
google-auth-oauthlib==0.4.6
# Editable install with no version control (groundingdino==0.1.0)
-e /root/autodl-tmp/vlfm/GroundingDINO
grpcio==1.80.0
gym==0.23.0
gym-notices==0.1.0
-e git+https://github.com/facebookresearch/habitat-lab.git@1639e1ae732ba1e84199a1a04b79c7243c3f8586#egg=habitat_baselines&subdirectory=habitat-baselines
-e git+https://github.com/facebookresearch/habitat-lab.git@1639e1ae732ba1e84199a1a04b79c7243c3f8586#egg=habitat_lab&subdirectory=habitat-lab
habitat-sim==0.2.4
hf-xet==1.5.2
huggingface_hub==0.36.2
hydra-core==1.3.4
identify==2.6.15
idna==3.18
ifcfg==0.24
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.1
importlib_resources==6.5.2
iniconfig==2.1.0
iopath==0.1.9
ipython==8.18.1
ipywidgets==8.1.8
itsdangerous==2.2.0
janus==2.0.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==0.10.0
joblib==1.5.3
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_core==5.8.1
jupyterlab_widgets==3.0.16
kaggle==1.7.4.5
kiwisolver==1.4.7
langcodes==3.5.1
lazy-loader==0.5
llvmlite==0.43.0
lmdb==2.3.0
lyft-dataset-sdk==0.0.8
magnum @ file:///opt/conda/envs/py39/conda-bld/habitat-sim_1680307574209/work/build/deps/magnum-bindings/src/python
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.9.4
matplotlib-inline==0.2.2
mccabe==0.7.0
mdurl==0.1.2
MinkowskiEngine @ git+https://github.com/NVIDIA/MinkowskiEngine.git@02fc608bea4c0549b0a7b00ca1bf15dee4a0b228
mmcv==2.1.0
mmdet==3.2.0
mmdet3d==1.4.0
mmengine==0.10.4
# Editable install with no version control (mobile_sam==1.0)
-e /root/autodl-tmp/vlfm/MobileSAM
model-index==0.1.11
moviepy==1.0.3
msgpack==1.1.2
murmurhash==1.0.15
mypy_extensions==1.1.0
narwhals==2.21.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.13.0
nodeenv==1.10.0
numba==0.60.0
numpy==1.26.4
numpy-quaternion==2023.0.4
nuscenes-devkit==1.2.0
oauthlib==3.3.1
objectio==0.2.29
octomap-python==1.8.0.13
omegaconf==2.3.1
open3d==0.18.0
opencv-python==4.5.5.64
opencv-python-headless==4.7.0.72
opendatalab==0.0.10
opendatasets==0.1.22
openmim==0.3.9
openxlab==0.1.3
ordered-set==4.1.0
oss2==2.17.0
packaging==26.3
pandas==2.3.3
parameterized==0.9.0
parso==0.8.7
pathlib_abc==0.1.1
pathspec==1.1.1
pathy==0.11.0
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.4.0
plotly==6.9.0
pluggy==1.6.0
plyfile==1.1.3
portalocker==3.2.0
pre_commit==4.3.0
preshed==3.0.13
proglog==0.1.12
prompt_toolkit==3.0.52
protobuf==3.20.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycocoevalcap==1.2
pycocotools==2.0.11
pycodestyle==2.14.0
pycparser==2.23
pycryptodome==3.23.0
pydantic==1.10.26
pydantic_core==2.46.4
pydeck==0.9.3
pyflakes==3.4.0
Pygments==2.20.0
pyparsing==3.3.2
pyquaternion==0.9.9
pytest==8.4.2
python-dateutil==2.9.0.post0
python-discovery==1.5.0
python-dotenv==1.2.1
python-magic==0.4.27
python-slugify==8.0.4
pytokens==0.4.1
pytz==2026.3.post1
PyYAML==6.0.3
referencing==0.36.2
regex==2026.1.15
requests==2.32.5
requests-oauthlib==2.0.0
retrying==1.4.2
rich==13.4.2
rpds-py==0.27.1
safetensors==0.7.0
salesforce-lavis==1.0.2
scikit-fmm==2025.1.29
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
sentencepiece==0.2.2
shapely==2.0.7
shellingham==1.5.4
simplejson==4.1.1
six==1.17.0
smart-open==6.4.0
smmap==5.0.3
spacy==3.3.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.3
stack-data==0.6.3
streamlit==1.50.0
supervision==0.6.0
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.5
termcolor==3.1.0
terminaltables==3.1.10
text-unidecode==1.3
thinc==8.0.17
threadpoolctl==3.6.0
tifffile==2024.8.30
timm==0.4.12
tokenizers==0.13.3
toml==0.10.2
tomli==2.4.1
torch==1.12.1+cu113
torchvision==0.13.1+cu113
tornado==6.5.7
tqdm==4.70.0
traitlets==5.15.1
transformers==4.26.0
trimesh==4.12.2
typer==0.4.2
typer-slim==0.23.2
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.6.3
virtualenv==21.7.0
# Editable install with no version control (vlfm==0.1)
-e /root/autodl-tmp/vlvm
wasabi==0.10.1
watchdog==6.0.0
wcwidth==0.8.2
weasel==0.4.3
webdataset==0.1.40
webencodings==0.5.1
Werkzeug==3.1.8
widgetsnbextension==4.0.15
wrapt==2.3.0
yacs==0.1.8
yapf==0.43.0
zipp==3.23.1
